<div class="box">
  <div class="is-centered" style="text-align: center; margin-bottom:35px;">
    <h1 style="font-size:1.8em">
      <b>All Users</b>
    </h1>
    <h2 style="font-size:1.2em; margin-bottom:10px;">Username -
      <%= current_user.username.capitalize %></h2>
    <a href="#">
      <button class="button is-primary" style="font-size:1em">Search by Username</button>
    </a>
  </div>

  <% @users = @users.sort_by{|u| u.username.downcase} %>

    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <% if user.username != current_user.username %>
          <div class="column is-one-fifth">
            <div class="box">
              <%= link_to user.username.capitalize, user_path(user.id) %>
              <% if user.user_type != "free" %>✔️<% end %>
              <br>
              Score:
              <%= user.score %>
              <br>
              <%= form_tag(followers_path) %>
              <% if Follower.where(follower_id: current_user.id).map{|f| f.followed_id}.include?(user.id) %>
                <%= hidden_field_tag 'todo', "unfollow" %>
                <%= button_tag(type: 'submit', class: "button is-secondary", value: user.id) do %>
                <% content_tag(:normal, 'Unfollow') %><% end %>
              <% else  %>
                <%= hidden_field_tag 'todo', "follow" %>
                <%= button_tag(type: 'submit', class: "button is-primary", value: user.id) do %>
                <% content_tag(:normal, 'Follow') %><% end %>
              <% end %>
            </form>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
