<div class="container is-fluid" style="margin-top:20px; margin-bottom:20px;">
  <div class="box">
    <h2 class="title is-2">@<%= @user.username %></h2>
    <% if @user.user_type != "free" %>
      ✔️<% end %>
      <h2 class="title is-5"><%= link_to "Followers: ", follower_path(@user)%><%= @user.followers.count %></h2>
      <h2 class="title is-5"><%= link_to "Following: ", follower_path(@user)%><%= @user.following.count %></h2>
    <br>

    <% if Follower.where(follower_id: current_user.id).map{|f| f.followed_id}.include?(@user.id) %>
      <%= hidden_field_tag 'todo', "unfollow" %>
      <%= button_tag(type: 'submit', class: "button is-secondary", value: @user.id) do %>
      <% content_tag(:normal, 'Unfollow') %><% end %>
    <% else  %>
      <%= hidden_field_tag 'todo', "follow" %>
      <%= button_tag(type: 'submit', class: "button is-primary", value: @user.id) do %>
      <% content_tag(:normal, 'Follow') %><% end %>
    <% end %>
  </form>
</div>

  <% @user.polls.reverse.each do |poll| %>
    <div class="box is-centered" style="text-align: center;">
      <h1 style="font-size:1.5em"><%= poll.question %></h1><br>
  </div>
<% end %>

</div>
