<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <% if current_user.user_type == "free" && current_user.score < 5 %>
          <p>You need a minimum of 5 points to create a poll. Answer <%="#{5-current_user.score}"%> more polls to get enough points!</p>
        <% else%>
          <h2 class="title is-2">Create New Poll</h2>
          <%= form_for @poll do |f| %>
            <%= f.label :question %>
            <%= f.text_field :question %><br>
            <%= f.label :answer_one %>
            <%= f.text_field :answer_one %><br>
            <%= f.label :answer_two %>
            <%= f.text_field :answer_two %><br>
            <%= f.hidden_field :user_id, :value => current_user.id %><br>
            <%= f.submit %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
